*.pyc
*.diff
*.out
*.log
sorc/hafs_tools.fd/sorc/build/
sorc/hafs_tools.fd/exec/
sorc/modulefile.hafs.gaea_c5
modulefiles/modulefile.hafs.gaea_c5_2024SEP10
modulefiles/modulefile.hafs.gaea_c5_2025FEB19
sorc/hafs_tools.fd/exec_2024SEP10/
sorc/hafs_tools.fd/exec_2025AUG08/
sorc/hafs_tools.fd/exec_2025AUG20/
sorc/hafs_tools.fd/exec_2025FEB19/
sorc/hafs_tools.fd/exec_2025JUN12/
sorc/hafs_tools.fd/exec_2025JUN19/
sorc/hafs_tools.fd/exec_2025MAY29/
sorc/hafs_tools.fd/exec_fix_new/
sorc/hafs_tools.fd/exec_testDEBUG/
sorc/hafs_tools.fd/sorc_2025AUG20/
sorc/hafs_tools.fd/sorc_2025AUG20_CosmeticMods/
sorc/hafs_tools.fd/sorc_fix_new/
sorc/hafs_tools.fd/sorc/hafs_datool/sub_hafsvi_preproc_ic.f90_2024SEP10
sorc/hafs_tools.fd/sorc/hafs_datool/sub_hafsvi_preproc_ic.f90_2025AUG20
sorc/hafs_tools.fd/sorc/hafs_vi/create_trak_init/create_trak_init.f90_2024SEP10
sorc/hafs_tools.fd/sorc/hafs_vi/split/split.f90_2025FEB18
sorc/hafs_tools.fd/sorc/hafs_vi/split/split.f90_2025JUN13
